@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2eee7;
  --foreground:#20234a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2eee7;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Afacad Flux, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
